<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Programación WEB</title>
    </head>
    <body style="background-color: brown;">
        <h1>Programación WEB</h1>
        <p>Es una disciplina que se ha popularizado en los últimos años. El incremnto del <strong>Internet</strong> ha permitido la creación de millónes de páginas WEB</p>
        <h2>Principales lenguajes</h2>
        <p>Estos lenguajes cumplen una función específica <span style="font-style: oblique; font-weight: bold;">(HTML, CSS y JavaScript)</span></p>
        <ul>
            <li style="border: 5px solid yellow;"><h3 style="margin: 0;">HTML</h3></li>
            <p style="margin-top: 0;">Este lenguaje le da estructura a las páginas.</p>
            <li style="border: 5px solid purple;"><h3>CSS</h3></li>
            <p>Este lenguaje es para decorar páginas.</p>
            <li style="border: 5px solid blue;"><h3>JavaScript</h3></li>
            <p>Este lenguaje es para manipular elementos de las páginas.</p>
        </ul>
    </body>
</html>