<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enlaces</title>
    </head>
    <body style="margin: 0; background-color: grey;">
        <h1 style="margin: 0;">Temas finales</h1>
        <h2>Tema 11: enlaces</h2>
        <p style="background-color: aqua; margin: 0;">Son llamados como enlaces o hipervinculos, éstos son muy comunes en todas las páginas WEB donde nos permiten navegar tanto navegadores externos, como en archivos de nuestro PC. Para esto se debe utilizar la etiqueta <strong>(a)</strong>. No necesariamente sirve para texto de una página sino, tambien para videos, imágenes y URL's. También se puede utilizar en cualquier elemento <strong>HTML</strong>.</p>
        <h3 style="margin: 0;">Enlaces a Páginas Externas</h3>
        <a href="https://zajuna.sena.edu.co/" style="color: blue; text-decoration: overline;">Este enlace te lleva a Zajuna</a>
        <h3>Enlaces dentro de un párrafo.</h3>
        <p id="primer_ejemplo_de_id">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat nihil hic tempora ea eius assumenda esse delectus laudantium consectetur. Repellendus omnis dolorem ipsa quae repudiandae cum nulla minima harum sapiente. Esto es el resultado de cada individuo alterno y cuyo valor es el todo, mira la moto. <a href="https://motos.tucarro.com.co/motos-usadas-bogota_ITEM*CONDITION_2230581">Aquí</a></p>
        <h3>Párrafo completo con enlace</h3>
        <a href="https://www.youtube.com/watch?v=f4X9ciZfZQw"><p>Este ejercicio indica que el enlace es un <strong>p</strong> para describir directamente lo que tengamos aquí, ejemplo es Youtube</p></a>
        <h3>Enlace en una pestaña nueva</h3>
        <p> Este enlace, es lo mismo pero con el atributo <strong>target</strong> podemos abrir la nueva pestaña en una nueva.
        <a href="https://listado.mercadolibre.com.co/ciclas" target="_blank">Aquí</a></p>
        <h3>Enlace con imagen</h3>
        <p>Para este nuevo ejercicio, se va a utilizar una imagen con su enlace, también utilizamos el atributo <strong>target</strong>.</p>
        <a href="https://es.wikipedia.org/wiki/Choach%C3%AD" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Choachi%2C_Cundinamarca_-_panoramio.jpg/250px-Choachi%2C_Cundinamarca_-_panoramio.jpg" alt="Paisaje de Choachí" title="paisaje"></a>
        <hr style="border: none; height: 5px ; background-color: black;">
        <div class="tema-12" style="background-color: aqua;">
            <h2>Tema 12: Enlaces Internos</h2>
            <h3>Enlaces a otras páginas del mismo sitio</h3>
            <p>Este tipo de enlaces se usa todo el timepo para navegar en el sitio WEB, en la barra de navegación. En el atributo <strong>href</strong> se debe colocar ya no la URL sino la ruta al archivo al que queramos llamar, navegar.</p>
            <a href="formularios.html" target="_blank" title="formularios">Éste enlace lo lleva al archivo de formularios</a>
            <h2 style="border: 2px solid;">Enlaces a otras partes de la misma página</h2>
            <p style="border: 3px solid;">Estos enlaces se utilizan para facilitar la navegación al usuario, al presionarlo lo lleva directamente al inicio o final de una sección y no utilizar el desplazamiento del Mouse. Para esto en el atributo <strong>href</strong> se le debe poner # y en el <strong>id</strong> pues ya creado anteriormente en alguna etiqueta, se le llama con el nombre que se le haya puesto, y así poder utilizarlo con el # en el atribito <strong>href</strong>, recordar que en el atributo global <strong>id</strong> se puede utilizar en cualquier elemento <strong>HTML</strong>.</p>
            <a href="#primer_ejemplo_de_id" style="padding: 30px;"> Primer ejemplo con id</a>
        </div>
        <hr>
        <div style="background-color: black; color: aliceblue;" id="otros_elementos">
            <h2>Otros elementos</h2>
            <p>Con este módulo se llega al final de HTML y así, se conocieron todos los elementos necesarios para esturcturar una página WEB. Para esta sección se conocerán otros elementos de HTML que podrán ser mu útiles como lo son: <strong>iframes, tablas y spans.</strong></p>
            <h3 style="color: blue;">Iframes</h3>
            <p style="border: 6px solid;">Los <strong>iframes</strong> son visualizados como un marco que puede contener otra página WEB, tanto interna como externa en nuestro sitio. Como ejemplo es videos de Youtube, para poder implementar estos elementos se utiliza la etiqueta <strong>iframe</strong> y para utilizarlo se necesita definir el atributo <strong>src</strong> indicando al navegador el URL de la página que debe mostrar dentro del marco. Se agregan atributos como lo son <strong> width y height</strong> sonde se modifica el tamaño de nuesto contenido.así:
            </p>
            <h4 style="margin: 0;">Página de nuestro Laptop</h4>
            <iframe src="imagenes.html" frameborder="0" style="height: 250px; width: 500px;"></iframe>
            <hr>
            <h4 style="margin: 0;">Página externa</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KgDrbPF30ds?si=WVwsbGYzxqu6Nmbb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen"></iframe>
            <hr>
            <h3>Tablas</h3>
            <p style="background-color: brown; border: 3px solid;"> Se definen con la etiqueta <strong>table</strong> donde las tablas nos permiten organizar contenido en columnas y filas. Para esto se utiliza las etiquetas:</p>
            <ul>
                <li><strong>tr</strong>: para definir filas</li>
                <li><strong>th</strong>: para definir encabezados de tablas</li>
                <li><strong>td</strong>: para definir celdas normales</li>
            </ul>
            <h3 style="border: 6px solid; color: chartreuse;">Ejemplo</h3>
            <style>
                table{
                    border: solid;
                    text-align: center;
                    border-collapse: collapse;
                }
                tr, th, td{
                    border: solid yellow;
                }
                .encabezados{
                    background-color: grey;
                }
                .nombres{
                    background-color: blueviolet;
                }
                .edades{
                    background-color: red;
                }
                .apellidos{
                    background-color: burlywood;
                }
            </style>
            <table style="width: 100%;"><!--La etiqueta Style se deja del tamaño de 100%, tal cual como la etiqueta padre que es el Body-->
                <tr class="encabezados">
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                </tr>
                <tr>
                    <td class="nombres">Luis</td>
                    <td class="apellidos">Duran</td>
                    <td class="edades">26</td>
                </tr>
                <tr>
                    <td class="nombres">Claudia</td>
                    <td class="apellidos">Bojas</td>
                    <td class="edades">24</td>
                </tr>
            </table>
        </div>
        <hr>
    </body>
</html>



