<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enlaces</title>
    </head>
    <body style="margin: 0; background-color: purple;">
        <h1 style="margin: 0;">Temas finales</h1>
        <h2>Tema 11: enlaces</h2>
        <p style="background-color: aqua; margin: 0;">Son llamados como enlaces o hipervinculos, éstos son muy comunes en todas las páginas WEB donde nos permiten navegar tanto navegadores externos, como en archivos de nuestro PC. Para esto se debe utilizar la etiqueta <strong>(a)</strong>. No necesariamente sirve para texto de una página sino, tambien para videos, imágenes y URL's. También se puede utilizar en cualquier elemento <strong>HTML</strong>.</p>
        <h3 style="margin: 0;">Enlaces a Páginas Externas</h3>
        <a href="https://zajuna.sena.edu.co/" style="color: blue; text-decoration: overline;">Este enlace te lleva a Zajuna</a>
        <h3>Enlaces dentro de un párrafo.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat nihil hic tempora ea eius assumenda esse delectus laudantium consectetur. Repellendus omnis dolorem ipsa quae repudiandae cum nulla minima harum sapiente. Esto es el resultado de cada individuo alterno y cuyo valor es el todo, mira la moto. <a href="https://motos.tucarro.com.co/motos-usadas-bogota_ITEM*CONDITION_2230581">Aquí</a></p>
        <h3>Párrafo completo con enlace</h3>
        <a href="https://www.youtube.com/watch?v=f4X9ciZfZQw"><p>Este ejercicio indica que el enlace es un <strong>p</strong> para describir directamente lo que tengamos aquí, ejemplo es Youtube</p></a>
        <h3>Enlace en una pestaña nueva</h3>
        <p> Este enlace, es lo mismo pero con el atributo <strong>target</strong> podemos abrir la nueva pestaña en una nueva.
        <a href="https://listado.mercadolibre.com.co/ciclas" target="_blank">Aquí</a></p>
        <h3>Enlace con imagen</h3>
        <p>Para este nuevo ejercicio, se va a utilizar una imagen con su enlace, también utilizamos el atributo <strong>target</strong>.</p>
        <a href="https://es.wikipedia.org/wiki/Choach%C3%AD" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Choachi%2C_Cundinamarca_-_panoramio.jpg/250px-Choachi%2C_Cundinamarca_-_panoramio.jpg" alt="Paisaje de Choachí" title="paisaje"></a>
    </body>
    <hr style="border: none; height: 5px ; background-color: black;">
    <h2>Tema 12: Enlaces Internos</h2>
    <p>asjalsdjkl</p>
</html>
