<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Estructura básica</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="#">
    </head>
    <body>
        <h1>Estructura básica de HTML (hypertext markup language)</h1>
        <p>Se realiza la estuctura básica de HTML con etiquetas que no se usen en este momento pero, sirve para poder tenerlas en visual y aprender su formato y/o forma de cómo funciona. </p>
        <a href="introduccion.html" target="_blank">Este enlace nos lleva al primer documento de introducción.</a>
        <script>
            alert("Este es un alerta donde indica que se trata de estructura básica de HTML")
        </script>
    </body>
</html>