<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Formatear Texto</title>
    </head>
    <body>
        <h1>Formater Texto</h1>
        <p>En general indica que es para enfatizar el texto así:</p>
        <br><!--Se utiliza para el salto de línea-->
        <b>Texto en Negritas</b><br>
        <i>texto en cursiva</i><br>
        <u>Texto subrayado</u><br>
        <strong>Lo que esté dentro de éste, el texto será reconocido como importante por los navegadores que tamnién el b hace la misma función peor sin ser importante</strong><br>
        <em>Le indica al navegador que el texto será enfatizado y que por defecto se muestra igual que el i a diferencia, en el em se puede anidar elementos dentro de otros elementos.</em><br>
        <sub>Texto en subíndice, es decir que va debajo del texto</sub><br>
        <sup>Texto en superíndice, es decir que va por arriba del texto</sup><br>
        <del>Indica que el texto ha sido tacchado atravesando una línea medio en el texto</del><br>
        <mark>Texto marcado con fondo amarillo, el cual identifica al texto como relevante.</mark><br>
    </body>
</html>