<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Imágenes y videos</title>
    </head>
    <body style="background-color: blue; color: white; text-align: center;">
        <h1>Imágenes y videos en HTML (HyperText Markup Language)</h1>
        <p>Las imágenes y videos son parte esencial de toda página WEB, HTML cuenta con su propia etiqueta para imágenes <strong>img</strong> y se debe incluir el atributo <strong>src</strong> donde específica la ruta o url de la imágen (video)</p>
        <ul>
            <li style="color: black;">alt: se utiliza si la imágen no carga, entonces este atributo permite definir un texto nombrando la imágen.</li>
            <li style="color: purple;">width: especifíca el ancho de la imágen.</li>
            <li style="color: white;">height: especifíca la altura de la imágen.</li>
        </ul>
        <p>Es recomendable definir los atributos de altura y ancho, el cual nos ayuda a distribuir correctamente el contenido.</p>
        <hr color="orange">
        <h2>Ejemplo 1 imágen</h2>
        <img src="../img/img1.jpg" alt="Paisaje colombiano" width="600px" title="Paisaje colombiano"> <!--Se utiliza la etiqueta alt para nombrar la imágen en caso que no aparézca-->
        <h2>Ejemplo 2 imágen</h2>
        <img src="../img/img2.jpg" alt="Estátuas religiosas" width="600px" style="border-radius: 15px;" title="Estátuas religiosas">
        <h2>Ejemplo 3 imágen</h2>
        <img src="../img/img3.jpg" alt="Café colombiano" width="600px" style="border-radius: 50%;" title="Café colombiano">
        <h2 style="font-size: 2em;">Videos en HTML (HyperText Markup Language)</h2>
        <h2>Ejemplo 1 video</h2>
        <video src="../videos/video1.mp4" width="600px" controls style="border-radius: 20px;" title="Paisaje colombiano"></video>
        <h2>Ejemplo 2 video</h2>
        <video src="../videos/video2.mp4" width="600px" controls title="Estátuas religiosas"></video>
        <h2>Ejemplo 3 video</h2>
        <video src="../videos/video3.mp4" width="600px" controls style="border: 16px solid orange;" title="Café colombiano"></video>
    </body>
</html>