<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Introducción a lenguaje HTML</title>
    </head>
    <body>
        <h1>Formato y estructura de HTML</h1>
        <p>HTML es el esqueleto de todas las páginas WEB es decir que, aquí se puede definir el formato, perimite incluir imágenes, formularios, botones e incluso enlaces. Nos permite usar todas las herramientas para hacer uso de nuestra imaginación.</p>
        <p>Lo que se hace en HTML es lo que nuestros navegadores lo interpretan y nos dejan ver como finalmente queda</p>
        <h2>Competencias que se adquiere en este módulo</h2>
        <ul>
            <li>Reglas generales de HTML.</li>
            <li>Conocimientos sobre elementos de HTML como encabezados, listas, párrafos, formularios.</li>
            <li>Estructuramiento básico de páginas WEB.</li>
        </ul>
    </body>
</html>