<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Listas descriptivas</title>
    </head>
    <body style="background-color: aquamarine;">
        <h1 style="border: 0.5em solid purple;">Listas descriptivas en HTML (HyperText Markup Language)</h1>
        <p style="margin-bottom: 0;">Es este tipo de lista es muy común con las listas Ordenadas y Desordenadas solo que aquí las etiquetas son diferentes, se tiene la etiqueta padre <strong>dl</strong>, las etiquetas hijas son <strong>dt</strong> la cual es para definir términos, y la <strong>dd</strong> es para agregar descripción de ellos. Se puede ver como una aplicación común de estos elementos en crear un glosario en una página WEB.</p>
        <h2 style="margin-top: 0;">Ejemplo</h2>
        <hr>
        <dl>
            <dt style="color: blanchedalmond; font-weight: bold;">Café</dt>
            <dd style="color: red;">Bebida caliente oscura</dd>
            <dt style="color: black; font-weight: bold;">Leche</dt>
            <dd style="color: blue;">Bebida fría de color balnco</dd>
        </dl>
    </body>
</html>