<!DOCTYPE html>
<html lang="es"> 
    <head>
        <title>Ejemplo sin P</title>
    </head>
    <body>
        <h1 style="text-align: center;">Párrafos en HTML (Hypertext markup language)</h1>
        <p>La etiqueta P es insdispensable para la identación, tener un código legible y aparte de esto nos permite usar los atributos y estilos para su uso.</p>
        <h2 style="text-align: center;color: aqua;">Éste es el ejemplo sin usar la Etiqueta P</h2>
        Esto
        es
         un
        texto
        sin párrafos
        <h2 style="text-align: center;">Este es el ejemplo usando la etiqueta P</h2>
        <p>Al usar la itiqueta P observamos que el párrafo queda identado y puede ubicarse fácilmente</p>
        <h3 style="text-align: end;">Éste es el ejemplo con varias P </h3>
        <p>Se pudo haber utilizado solo un P para este ejemplo</p>
        <p>Esto</p>
        <p>es</p>
        <p>un texto</p>
        <p>con </p>
        <p>párrafos</p>
    </body>
</html>
